    <div class="flex flex-col h-screen bg-black relative">
        <div class="bg-auto md:bg-cover lg:bg-contain xl:bg-cover bg-center bg-no-repeat opacity-20 absolute inset-0 z-0" style="background-image: url('illustration.png')">
        </div>

        <header class="flex items-center p-4 z-10">
            <div class="flex items-center">
                <img src="Stemdo_Logo_Full_White.png" alt="Logo" class="h-8">
            </div>
        </header>
        <div class="flex flex-col justify-center items-center relative flex-grow z-10">
            <div class="bg-white p-11 shadow-lg max-w-[800px] w-full -mt-10 h-[600px]">
                <div class="flex items-start mb-8">
                    <div class="bg-black p-1">
                        <img class="align-middle border-0 max-w-[100px] max-h-[100px] text-2xl"
                            src="Stemdo_Logo_Full_White.png" alt="Logo Stemdo Letras">
                    </div>
                </div>
        
                <div>
                    <h1 class="text-3xl font-bold mb-4 font-['Roboto']">
                        <span class="text-red-600">INCUMPLIMIENTO DE NORMAS</span>: Acción Necesaria
                    </h1>                    
                    <p class="text-xl text-gray-600 font-['Roboto'] mb-6">Has incumplido las normas de seguridad digital. Debes tener más precaución al acceder a sitios web y verificar la autenticidad de los enlaces para proteger la información de la organización.</p>
                    <ul class="list-disc list-inside text-left text-lg font-['Roboto'] space-y-2 mt-6">
                        <li><strong>Verifica</strong> siempre la URL antes de ingresar datos sensibles.</li>
                        <li><strong>No hagas clic</strong> en enlaces sospechosos recibidos.</li>
                        <li>Mantén <strong>actualizado</strong> el software de seguridad en tu dispositivo.</li>
                        <li>Utiliza <strong>contraseñas fuertes</strong> para cada cuenta.</li>
                        <li><strong>Reporta</strong> cualquier actividad sospechosa al departamento de IT.</li>
                    </ul>
                    <p class="text-base italic text-gray-500 mt-10 font-['Roboto'] text-center">"Es esencial verificar el remitente y asegurarse de que los mensajes provengan de fuentes confiables"</p>
                </div>
            </div>
        </div>
        
    </div>
